.login_content {
    text-align: center;
    height: 800px;
}

.login_header {
    font-size: 18px;
    margin: 50px 0px 20px;
}

.login_form_area {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.form {
    width: 50%;
    height: 300px;
    text-align: center;
}

.form_email,
.form_password {
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
    margin: 15px auto;
}

.submit {
    width: 100%;
    background-color: rgb(25, 10, 233);
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin: 15px auto;
}

.login_registerlink {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    padding: 25px 5px;
}