.register_content {
    text-align: center;
}

.register_header {
    font-size: 18px;
    margin: 80px 0px 20px;
}

.register_form_area {
    width: 33%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.form {

}

.form_name,
.form_email,
.form_password,
.form_confirm_password {
    width: 100%;
    border-radius: 3px;
    font-size: 18px;
    margin: 15px auto;
    padding: 5px auto;
}

.submit {
    width: 100%;
    background-color: rgb(17, 58, 243);
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 5px auto;
    margin: 15px auto;
}

.register_loginlink {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    padding: 25px 5px;
}